<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center mt-3"> Add book details </h2>
<div class="container w-50">
<form method="POST"  enctype="multipart/form-data">

  {% csrf_token %}
  <div class="mb-3">
    <label  class="form-label">Title</label>
    <input type="text" class="form-control" name="t" placeholder="TITLE" >

  </div>

  <div class="mb-3">
    <label  class="form-label">Author</label>
    <input type="text" class="form-control" name="a" placeholder="Author">
  </div>
  <div class="mb-3">
    <label  class="form-label">Price</label>
    <input type="number" class="form-control" name="p" placeholder="Price">
  </div>
<div class="mb-3">
    <label  class="form-label">Pages</label>
    <input type="number" class="form-control" name="pa" placeholder="input number">
  </div>
  <div class="mb-3">
    <label  class="form-label">Language</label>
    <input type="text" class="form-control" name="l" placeholder="Enter language">
  </div>
  <div class="mb-3">
    <label  class="form-label">Cover</label>
    <input type="file" class="form-control" name="i" >
  </div>

  <div class="mb-3">
    <label  class="form-label">Pdf</label>
    <input type="file" class="form-control" name="f" >
  </div>

  <div class="mb-3">
    <input type="submit" class="form-control btn btn-primary" >
  </div>
</form>
</div>
{% endblock %}