<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center mt-3">Welcome to Login page</h2>

<div class="container  mt-5 w-50">
<form method="POST">
 {% csrf_token %}
      <div class="mb-3">
    <label  class="form-label">Username</label>
    <input type="text" class="form-control" name="u" placeholder="enter username">
  </div>
    <div class="mb-3">
    <label  class="form-label">Password</label>
    <input type="text" class="form-control" name="p" placeholder="enter password">
  </div>
        <div class="mb-3">
  <input  type="submit" class="form-control" >
</div>
</form>
</div>
{% endblock %}