<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2 class="text-center mt-3 mb-3">List of books </h2>
<table class="table table-bordered border border-1 border-info text-dark">
    <tr>
         <th>COVER</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>PRICE</th>
        <th>PAGES</th>
        <th>LANGUAGE</th>
        <th>PDF</th>
        <th>VIEW</th>
        <th>EDIT</th>
        <th>DELETE</th>

    </tr>
{% for i in  book %}

<tr>
     <td><img src="{{i.cover.url}}" height="100px" width="100px"></td>
<td>{{i.title}}</td>
<td>{{i.author}}</td>
<td>{{i.price}}</td>
<td>{{i.pages}}</td>
    <td>{{i.language}}</td>

    <td><a href="{{i.pdf.url}}" class="text-dark">DOWNLOAD</a></td>
    <td><a href="{% url 'books:detail' i.id %}" class="btn btn-outline-dark">view</a></td>
    <td><a href="{% url 'books:edit' i.id  %}" class="btn btn-outline-dark">edit</a></td>
    <td><a href="{% url 'books:delete' i.id %}" class="btn btn-outline-dark">delete</a></td>
</tr>
{% endfor %}
</table>

<!--<ol>-->
<!--    {% for i in book %}-->
<!--    <li>Book details:</li>-->
<!--    <ul>-->
<!--        <li>Title: {{i.title}}</li>-->
<!--        <li>Author: {{i.author}}</li>-->
<!--        <li>Price: {{i.price}}</li>-->
<!--    </ul>-->
<!--     {% endfor %}-->
<!--</ol>-->




{% endblock %}